In [94]:
##### Libaries
import pandas as pd
import seaborn as sns
import numpy as np

In [95]:
data = pd.read_csv("D:/Loveforlearning_books/jobs_varsha/Datascience/pythoncodes/KNN Assignment/KNN Assignment/iphone_purchase_records.csv")

In [96]:
data.columns

Index(['Gender', 'Age', 'Salary', 'Purchase Iphone'], dtype='object')

In [97]:
data

     Gender  Age  Salary  Purchase Iphone
0      Male   19   19000                0
1      Male   35   20000                0
2    Female   26   43000                0
3    Female   27   57000                0
4      Male   19   76000                0
..      ...  ...     ...              ...
395  Female   46   41000                1
396    Male   51   23000                1
397  Female   50   20000                1
398    Male   36   33000                0
399  Female   49   36000                1

[400 rows x 4 columns]

In [98]:
#Descriptive stats 
data.describe()

              Age         Salary  Purchase Iphone
count  400.000000     400.000000       400.000000
mean    37.655000   69742.500000         0.357500
std     10.482877   34096.960282         0.479864
min     18.000000   15000.000000         0.000000
25%     29.750000   43000.000000         0.000000
50%     37.000000   70000.000000         0.000000
75%     46.000000   88000.000000         1.000000
max     60.000000  150000.000000         1.000000

In [99]:
data.info

<bound method DataFrame.info of      Gender  Age  Salary  Purchase Iphone
0      Male   19   19000                0
1      Male   35   20000                0
2    Female   26   43000                0
3    Female   27   57000                0
4      Male   19   76000                0
..      ...  ...     ...              ...
395  Female   46   41000                1
396    Male   51   23000                1
397  Female   50   20000                1
398    Male   36   33000                0
399  Female   49   36000                1

[400 rows x 4 columns]>

In [100]:
##replacing male->1 female->0
data['Gender'].replace('Male','1', inplace=True)
data['Gender'].replace('Female','0', inplace=True)

In [101]:
X = data[['Gender','Age','Salary']]
y = data['Purchase Iphone']

In [102]:
X

    Gender  Age  Salary
0        1   19   19000
1        1   35   20000
2        0   26   43000
3        0   27   57000
4        1   19   76000
..     ...  ...     ...
395      0   46   41000
396      1   51   23000
397      0   50   20000
398      1   36   33000
399      0   49   36000

[400 rows x 3 columns]

In [103]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchase Iphone, Length: 400, dtype: int64

In [115]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [105]:
from sklearn.preprocessing import StandardScaler

In [106]:
stsc_X = StandardScaler()
X_train = stsc_X.fit_transform(X_train)
X_test = stsc_X.transform(X_test)

In [107]:
##### Using KNN
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [108]:
error_rate = []
for i in range(1,20):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train,y_train)
    pred_i = knn.predict(X_test)
    error_rate.append(np.mean(pred_i != y_test))

In [109]:
for i in range(1,20):
    print("K = ",i,"Errors = ",error_rate)

K =  1 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  2 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  3 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  4 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  5 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  6 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  7 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  8 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  9 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  10 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  11 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  12 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  13 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  14 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  15 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  16 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  17 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  18 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]
K =  19 Errors =  [0.09, 0.11, 0.1, 0.1, 0.11, 0.11, 0.12, 0.11, 0.11, 0.09, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.09, 0.09]

In [110]:
print("Minimun error :-", min(error_rate), "at K = ",error_rate.index(min(error_rate)))

Minimun error :- 0.09 at K =  0

In [56]:
acc = []
for i in range(1,20):
    neigh = KNeighborsClassifier(n_neighbors=i).fit(X_train,y_train)
    yhat = neigh.predict(X_test)
    acc.append(accuracy_score(y_test,yhat))

In [111]:
acc ## accuracy is high when k = 5

[0.88,
 0.88,
 0.92,
 0.93,
 0.94,
 0.94,
 0.94,
 0.94,
 0.94,
 0.94,
 0.94,
 0.93,
 0.93,
 0.93,
 0.93,
 0.93,
 0.93,
 0.92,
 0.93]

In [112]:
k = 5
knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train,y_train)   #### 85% of the data is trained

KNeighborsClassifier()

In [113]:
pred = knn.predict(X_test)
pred

array([0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [61]:
accuracy_score(y_test,pred)  ###for k= 5

0.94